body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: sans-serif;
  text-align: center;
}

.home-container {
  margin-top: 20px;
}

.home-content {
  margin-top: 20px;
  display: flex;
  height: 100%;
}

.home-1 {
  background-color: yellow;
  width: 200px;
  height: 1000px;
  margin: auto;
  color: black;
}

.home-2 {
  background-color: blue;
  width: 400px;
  height: 1000px;
  margin: auto;
}

.home-3 {
  background-color: green;
  width: 400px;
  height: 1000px;
  margin: auto;
}
